@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './animations.css';

:root {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
